html
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%

body
  width: 100%
  margin: 0
  font: inherit
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased

*
  box-sizing: border-box

h1,
h2,
h3,
h4,
p
  margin: 0
  padding: 0
  font-size: inherit

button
  overflow: visible
  border: 0
  font: inherit
  -webkit-font-smoothing: inherit
  letter-spacing: inherit
  background: none
  cursor: pointer

img
  max-width: 100%
  height: auto
  border: 0

.card-influencer-cont
  margin: 0 auto
  perspective: 3000px
  width: 789px

.card-influencer
  cursor: pointer
  float: left
  font-family:  "OpenSans-Bold", "OpenSans Bold", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
  height: 145px
  margin: 20px 10px 30px 10px
  position: relative
  width: 243px
  > div
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%
    transform-style: preserve-3d
    transition: transform 0.7s
    > div > div
      background-position: center center
      background-repeat: no-repeat
      background-size: cover
      border-radius: 5px
      height: 100%
      width: 100%
    .front, .back
      backface-visibility: hidden
      background: #fff
      border-radius: 5px
      box-shadow: 0 0 25px rgba(156,162,171,0.22)
      height: 100%
      left: 0
      position: absolute
      top: 0
      width: 100%
    .front
      transform: rotateY(0deg)
      z-index: 2
    .back
      background: #fff
      transform: rotateY(180deg)

.influencer-portrait-info
  background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 40%)
  border-radius: 5px
  height: 100%
  position: relative
  width: 100%
  h4
    color: #FAFBFD
    font-size: 12px
    font-weight: 700
    line-height: 19px
  .influencer-score
    background: #464D5D
    border-radius: 10px
    height: 19px
    position: absolute
    right: 10px
    top: 10px
    .influencer-score-svg
      left: 1px
      position: absolute
      top: 1px
    > h4
      margin: 0 6px 0 23px
  .campaign-slogan
    background: #2abdda
    border-radius: 10px
    color: #FAFBFD
    font-size: 12px
    font-weight: 700
    line-height: 19px
    padding: 0 10px 2px 10px
    display: block
    position: absolute
    right: 10px
    top: 10px

.influencer-progress
  bottom: 12px
  position: absolute
  right: 12px
  width: calc(50% - 20px)
  > div
    background: rgba(70,77,93,0.55)
    border-radius: 2px
    height: 4px
    overflow: hidden
    position: relative
    width: 100%
    > div
      background: linear-gradient(to left, #fad961, #f76b1c)
      border-radius: 2px
      height: 100%
      left: 0
      position: absolute
      top: 0
      width: 75%
  p
    color: #FAFBFD
    font-family: "Open Sans"
    font-size: 12px
    margin: 0 0 4px 0
    text-align: right
    text-transform: uppercase
    > span
      font-family: "OpenSans-Bold"











  // .influencer-metadata
  //   height: 30%
  //   padding: 20px 0
  //   position: relative
  //   width: 100%
  //   .approval-status
  //     border: 2px solid #dfe1e5
  //     border-radius: 50%
  //     height: 15px
  //     position: absolute
  //     right: 10px
  //     top: 10px
  //     width: 15px
  //   .influencer-text
  //     text-align: center
  //   h3
  //     color: #464D5D
  //     font-size: 16px
  //     font-weight: 400
  //     line-height: 25px
  //   h4
  //     color: #9CA2AB
  //     font-size: 12px
  //     font-weight: 700
  //     text-transform: uppercase
  //   i
  //     color: #464D5D
  //     margin: 10px 0 0 0
  //   p
  //     text-align: center
